@import "../../variables";

.block {
  width: 280px;
  margin: 0 auto 23px;

  @media (min-width: $tablet) {
    width: 420px;
  }

  @media (min-width: $laptop) {
    width: 856px;
  }
}

.block_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}

.select_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: -15px;
  position: relative;
  z-index: 0;
  width: 100%;
}

.select_stage {
  font-family: $fontReg;
  letter-spacing: 0.13px;
  color: #979898;
  background: #E8E8E8;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  padding: 8px 20px 23px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    transform: translateY(-3px);
    color: #000;
  }

  &.active {
    color: #1D353D;
    background: #fff;
    transform: none;
  }
}

.block_filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 14px 18px;
  width: 100%;
  box-sizing: border-box;
}

.filter_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 15px;
}

.rating_box {
  width: 100%;
  position: relative;

  &.active {
    border-radius: 10px;
    background: #F1F1F5;

    & .rating_btns {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    & .rating_list {
      left: 0;
      top: 25px;
      width: 100%;
      background: #F1F1F5;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
    }
  }

  @media (min-width: $laptop) {
    width: auto;
  }
}

.select_rating {
  color: #979898;
  border-radius: 10px;
  padding: 5px 20px 5px 10px;
  background: #F1F1F5;
  height: 31px;
  font-family: $fontReg;
  width: 100%;
  text-align: left;
  position: relative;
  cursor: pointer;
  transition: all .3s ease;

  &:after {
    content: '';
    width: 12px;
    height: 6px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background: url("./img/arrow-down-1.svg") no-repeat center / contain;
  }

  &.active {
    &:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  @media (min-width: $tablet) {
    width: 170px;

    &:after {
      right: 10px;
    }
  }

  @media (min-width: $laptop) {
    font-size: 15px;
    line-height: 18px;
    padding-left: 19px;
  }
}

.filters_list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filters_title {
  font-family: $fontReg;
  font-weight: normal;
  color: #1D353D;
  font-size: 15px;
  margin-bottom: 18px;
}

.filter_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  &:not(:last-child):after {
    content: '';
    width: 1px;
    height: 18px;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    background: #E8E8E8;
  }

  @media (min-width: $tablet) {
    margin-right: 20px;

    &:not(:last-child):after {
      content: '';
      width: 1px;
      height: 18px;
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
      background: #E8E8E8;
    }
  }

}

.filter_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $fontReg;
  font-size: 15px;
  left: 0.13px;
  color: #979898;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  background: #F1F1F5;
  box-sizing: border-box;
  height: 31px;
  transition: all .3s ease;

  &:hover {
    background: rgba(31, 30, 30, 0.51);
    color: #fff;

    & .android_img {
      fill: #fff;
    }
    & .apple_img {
      fill: #fff;
    }
  }

  @media (min-width: $tablet) {
    padding: 8px 15px;
    height: 36px;
  }

  &.active {
    color: #fff;
    background: rgb(31, 30, 30);

    & svg {
      fill: #fff;
    }
  }
}

.android_img {
  fill: #979898;
  transition: all .3s ease;
}

.apple_img {
  fill: #979898;
  transition: all .3s ease;
}

.rating_list {
  position: absolute;
}

.rating_btns {
  display: none;
  width: 100%;
}

.rating_star {
  fill: #F8BF25;
  width: 10px;
  height: 10px;

  @media (min-width: $tablet) {
    width: 15px;
    height: 15px;
  }
}

.rating_list_btn {
  display: inline;
  font-family: $fontReg;
  color: #979898;
  width: 100%;
  height: 30px;
  text-align: left;
  font-size: 13px;
  line-height: 24px;
  padding: 0 19px;
  cursor: pointer;
  transition: all .2s ease;

  &:hover {
    background: #3469F2;
    color: #fff;
  }

  @media (min-width: $tablet) {

    font-size: 15px;
    line-height: 28px;
  }
}
