@font-face {
  font-family: "MuseoSans-Reg";
  src: url("./fonts/MuseoSansCyrl-500.woff") format('woff');
}

@font-face {
  font-family: "MuseoSans-Bold";
  src: url("./fonts/MuseoSansCyrl-900.woff") format('woff');
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
